.profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    background-image: url(../../../images/edit-button.svg);
    background-size: 7.5px 7.5px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: 1px solid #fff;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    align-self: baseline;
    flex-shrink: 0;
}

@media screen and (min-width: 760px){
    .profile__edit-button{
        margin-left: 18px;
        width: 22px;
        height: 22px;
        background-size: 10px 10px;
    }
}