.profile{
    width: 100%;
    box-sizing: border-box;
    padding: 42px 19px 0 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 720px) {
    .profile{
        width: 68.75%;
        margin: 0 auto;
        padding: 40px 0 0 0;
        flex-direction: row;        
    }
}