.cards__like-button{
    width: 22px;
    height: 19px;
    flex-shrink: 0;
    box-sizing: border-box;
    background-image: url(../../../images/like-icon.svg);
    background-size: 22px 19px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
