.button{
    box-sizing: border-box;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    flex-shrink: 0;
}